apache-airflow==2.9.2
apache-airflow-providers-postgres==5.10.0
apache-airflow-providers-http==4.10.0
yfinance==0.2.40
psycopg2-binary==2.9.9
requests==2.31.0
python-dotenv==1.0.1
pandas==2.2.2
duckduckgo-search==7.5.1
beautifulsoup4==4.12.3
pdfplumber==0.11.9
httpx==0.27.2